@use '../utilities/variables' as *;

.footer {
  
  background: linear-gradient(180deg, #fefefe, #e3f2fd);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 80px;
  padding: 30px 10px;
  text-align: center;
  width: 100%;
  transition: background 0.4s ease; 

  &__text {
    color: $text-dark; 
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.5px;
    font-family: $font-family;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  
  &:hover {
    background: linear-gradient(180deg, #e3f2fd, #bbdefb);

    .footer__text {
      color: #0d47a1;
      transform: translateY(-2px);
    }
  }
}

 

