@use '../utilities/variables' as *;

.header {
 background-color: #fdf8f5; // 
  height: 70px; // Altura
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5% ;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  border-bottom:1px solid rgba(0,0,0,0.05); ;
  position: relative;
  z-index: 1000;
}

