@use '../utilities/variables' as *;

// En tu archivo SCSS
 .btn-ver-mas {
  background: linear-gradient(135deg, #ff9a9e 0%, #fda085 100%);
  color: white !important; // El important asegura que Bootstrap no lo ponga azul/negro
  border: none;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex; // Para alinear bien el texto y el icono
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(253, 160, 133, 0.4);
  
  &:active {
    transform: translateY(-1px);
  }
   &.hidden {
    display: none; // Se ocultará cuando no haya más cards que mostrar
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(253, 160, 133, 0.6);
  }
}
