@use '../utilities/variables' as *;

.navbar {
  background-color: #fdf8f5;
  padding: 0.5rem 1rem;
  position: relative;
  min-height: 70px; 
  display: flex !important;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 1rem 5%;
  background-color: #fdf8f5; 
  
 
  .navbar-collapse {
    flex-grow: 0; 
     background-color: #fdf8f5;
    text-align: center;
  }

&__menu {
  display: flex !important; // 
  flex-direction: row !important; 
  list-style: none !important; 
  margin: 0;
  padding: 0;
  gap: 1rem; 

  @media (min-width: 768px) {
    justify-content: flex-end;
  }
}

&__item {
  list-style: none; 
}
  &__link {
    text-decoration: none;
    color: $color-dark;
    font-weight: 500;
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
    transition: all 0.3s ease;
    width: 80%; 
   

    &:hover {
      background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
      color: #b91d73;
    }

    &--active {
      color: #b91d73;
      background: rgba(254, 207, 239, 0.3); 
      font-weight: 700;
    }
  }

  &__logo {
    position: relative;
    width: 110px; 
    z-index: 1050; 

    .navbar__image {
      position: absolute;
      top: -20px; 
      left: 0;
      width: 100px;
      height: 100px;
      background: white;
      border-radius: 20px;
      padding: 5px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      
   
      @media (max-width: 767px) {
        width: 75px; 
        height: 75px;
        top: -10px;   
        left: 5px;
      }
    }
  }


  .navbar-toggler {
    border: none;
    padding: 0.5rem;
    &:focus { box-shadow: none; }
  }

 
  @media (max-width: 767px) {
    .navbar-collapse {
      background-color: #fdf8f5;
      margin-top: 45px; 
      padding: 1rem;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    }
    
    &__menu {
      flex-direction: column;
      gap: 10px;
    }
  }
}