@use '../utilities/variables' as *;

body {
  background-color: $color-bg;

  }
  
  
  img {
    display: block;
    max-width: 100%;
  }

body {
  transform: none !important;
}
body {
  transform: none !important;
  perspective: none !important;
}