// FORECAST
.forecast {
  padding: 2rem;

  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  &__cell {
    border: 1px solid #dee2e6;
    color: #555;
    padding: 0.75rem;
  }

  &__row:nth-child(even) {
    background-color: #e9ecef;
  }

  &__data {
    padding: 0.75rem;
    font-size: 0.9rem;

    i {
      font-size: 1.2rem;
      margin-bottom: 0.25rem;
    }
  }

  &__city {
    font-weight: bold;
  }
}